@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@custom-variant cyberpunk '[data-theme="cyberpunk"] &';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cyber-green: #00ff9f;
  --cyber-blue: #0abdc6;
  --cyber-purple: #ea00d9;
  --cyber-dark-purple: #711c91;
  --cyber-dark-blue: #133e7c;
  --cyber-gray: #091833;
  --cyber-black: #00060e;
  --cyber-dark-yellow: #9a9f17;
  --cyber-yellow: #fee801;
  --cyber-cyan: #54c1e6;
  --cyber-sea-green: #39c4b6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cyber-green: var(--cyber-green);
  --color-cyber-blue: var(--cyber-blue);
  --color-cyber-purple: var(--cyber-purple);
  --color-cyber-dark-purple: var(--cyber-dark-purple);
  --color-cyber-dark-blue: var(--cyber-dark-blue);
  --color-cyber-gray: var(--cyber-gray);
  --color-cyber-black: var(--cyber-black);
  --color-cyber-dark-yellow: var(--cyber-dark-yellow);
  --color-cyber-yellow: var(--cyber-yellow);
  --color-cyber-cyan: var(--cyber-cyan);
  --color-cyber-sea-green: var(--cyber-sea-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.noise-texture {
    background-image: url("https://transparenttextures.com/patterns/axiom-pattern.png");
}

.cyberpunk-border {
    @apply cyberpunk:border cyberpunk:border-red-500/30
}

.cyberpunk-glow {
    @apply  cyberpunk:shadow-[0_0_40px_rgba(255,0,80,0.25)]
}

.cyberpunk-blue-border {
    @apply cyberpunk:border cyberpunk:border-cyber-blue/30
}

.cyberpunk-blue-glow {
    @apply  cyberpunk:shadow-[0_0_10px_var(--cyber-blue)]
}

.cyberpunk-input {
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 19% 85%, 13% 100%, 0 100%, 0% 85%);
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome / Edge / Tauri (WebView2) */
.app-scroll::-webkit-scrollbar {
    width: 8px;
}

.app-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.app-scroll::-webkit-scrollbar-thumb {
    background-color: #39c4b6;
    border-radius: 9999px;
    /* border: 2px solid #0a0a0a; */
}

.app-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #0abdc6;
}

/* Firefox */
/* .app-scroll {
    scrollbar-width: thin;
    scrollbar-color: #222222 transparent;
} */

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
