@import "tailwindcss";
@plugin "@toolwind/corner-shape";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome / Edge / Tauri (WebView2) */
.app-scroll::-webkit-scrollbar {
    width: 8px;
}

.app-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.app-scroll::-webkit-scrollbar-thumb {
    background-color: #90ee90;
    border-radius: 9999px;
    /* border: 2px solid #0a0a0a; */
}

.app-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #6fdc6f;
}

/* Firefox */
/* .app-scroll {
    scrollbar-width: thin;
    scrollbar-color: #222222 transparent;
} */

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
